{% extends "layout.twig" %}

{% block title %}Explore what MODX can do for you{% endblock %}

{% block content %}
    <div class="wf wf-image text-center" style="width: 100%; min-height: 400px;">
        <h1 style="padding-top: 3em; font-size: 3em; line-height: 1.6em;">CMS/CMF</h1>
    </div>

    <div class="flex">
        <div class="flex-c-1 p-4 text-center">
            <h3>What is MODX?</h3>
            <p>MODX is a powerful and flexible content management platform for professional web designers and developers. Instead of making your designs fit MODX, set up MODX to fit your design, allowing clients to effortlessly manage their content, too. This provides you with unparalleled capabilities that we call Creative Freedom. </p>
            <p>With the hundreds of available extras you can build any type of website, without writing a single line of PHP. MODX is also built to be secure. Based on the native PHP PDO, the xPDO database layer and query builder automatically escapes user input and uses prepared statements to protect against SQL injection attack. This has resulted in a solid track record over the past decade.</p>
        </div>
    </div>

    <div class="flex">
        <div class="flex-c-1" style="padding: 3em 5em;">
            <h3 class="text-center">Getting Started</h3>
        </div>
    </div>

    <div class="flex text-center">
        <div class="flex-c-1 wf p-2">
            <h3>Ready to Use</h3>
            <ul>
                <li>MODX Cloud</li>
                <li>Bitnami</li>
            </ul>
        </div>
        <div class="flex-c-1 wf p-2">
            <h3>Manual Setup</h3>
            <ul>
                <li>Download & Setup</li>
            </ul>
        </div>
    </div>
{% endblock %}